#navbar{
    width: 98%;
    height: 50px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    padding: 3px;
    /* align-items: center; */
    background-color: teal;
    color: white;
}
#navbar div{
    border-right: 2px solid WHITE;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px 50px;

}